<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
    <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="dataConfiguration"
        type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
    <connectionStrings>
    <!--<add name="ConnectionStringSQL" connectionString="Data Source=JHONATAN\SQLEXPRESS;Initial Catalog=Base;User ID=sa; Password=sigcomt; Connect Timeout=200;"
        providerName="System.Data.SqlClient"/>-->
      <!--<add name="ConnectionStringSQL" connectionString="Persist Security Info=False;Integrated Security=true;
      Initial Catalog=Base;Server=JHONATAN\SQLEXPRESS; Connect Timeout=200;" providerName="System.Data.SqlClient"/>-->

      <add name="ConnectionStringSQL" connectionString="workstation id=BaseAplication.mssql.somee.com;packet size=4096;user id=BaseAplication_SQLLogin_2;pwd=fytjktdjqm;data source=BaseAplication.mssql.somee.com;persist security info=False;initial catalog=BaseAplication; Connect Timeout=200;" providerName="System.Data.SqlClient"/>
      
      <add name = "Excel03ConString" connectionString = "Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
      <add name = "Excel07+ConString" connectionString = "Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    </connectionStrings>
  <appSettings>
        <add key="TimeOutCache" value="1440"/>
    <!--Falabella-->
    <!--<add key="ConnectionActiveDirectory" value="LDAP://172.22.4.15"/>
    <add key="DominiosAD" value="bancofalabella.com.pe;falabella.com;falabella.com.pe;falabella.cl"/>-->
    
    <add key="ConnectionActiveDirectory" value="LDAP://sigcomt.com"/>
    <add key="DominiosAD" value="sigcomt.com"/>
    <add key="EmailPattern" value="sigone@sigcomt.com"/>
    <add key="Subject" value="ALERTA-TOPE-GIFTCARD"/>
    <add key="SubjectReenvio" value="GIFTCARD"/>
    <add key="DiasReenvio" value="90"/>
    <add key="MarchaBlanca" value="1"/>
    <add key="CorreoCC" value="jfernandez@sigcomt.com"/>
    
    <!-- flag -->
    <add key="Flag_Quemado" value="0"/>
    <!--Fin-->
    
  </appSettings>
  
  <!--<system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      
    </httpModules>
  </system.web>-->

  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
    </httpModules>
  </system.web>
  
  
  <log4net>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log/log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="DebugAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
